/**********************************
*   <div> Controls
**********************************/
.div_controls
{
    width: 50%;
    height: 26px;
    margin: 0 auto;
    margin-top: 10px;
}

/**********************************
*   <div> Search
**********************************/
.div_search
{
    width: 50%;
    margin: 0 auto;
}

/**********************************
*   <div> ALBUM COVER ART
**********************************/
.album_art
{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
    /* div: album art image */
    #img_album_art
    {
        width: 70px;
        height: 70px;
        background: url("../img/menu/album_default.png") no-repeat;
    }


/**********************************
*   <div> Headliner
**********************************/
.div_headliner
{
    width: 100px;
    height: 80px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

    /** Headline text div **/
    .headliner_text
    {
        width: 100px;
        height: 26px;
    }

    /** Headline h1 **/
    .headliner_text h1
    {
        margin: 0 auto;
    }

    /** Headline logo */
    .headliner_logo
    {
        width: 40px;
        height: 40px;
        content: url('../img/spotify_logo.png');
        margin: 0 auto;
    }