@charset 'UTF-8';
/**********************************
*   Body
**********************************/
body
{
    color: #888;
}

/**********************************
*   <div> CONTAINER (HEADER + BODY)
**********************************/
.container
{
    background: #111;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #0000FF; /* blue */
}

/**********************************
*   <div> HEADER
**********************************/
.header
{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #111111;
    border: 1px solid #81b71a; /* green */
}

/**********************************
*   <div> BODY
**********************************/
.body
{
    top: 0;
    bottom: 0;
    border: 1px solid #0000FF; /* blue */
    margin-top: 87px;
}

    /**********************************
    *   <div> MENU
    **********************************/
    .menu
    {
        width: 60px;
        background: #111111;
        position: fixed;
        float: left;
        border: 1px solid #F7FE2E; /* yellow */
    }

    /**********************************
    *   <div> PLAYLISTS
    **********************************/
    .div_playlists
    {
        width: 25%;
        height: 100%;
        top: 0;
        bottom: 0;
        margin-left: 60px;
        float: left;
        border: 1px solid #DF0101; /* red */
    }

    /**********************************
    *   <div> TRACKS
    **********************************/
    .div_tracks
    {
        max-width: 60%;
        height: 100%;
        float: left;
        margin-left: 10px;
        border: 1px solid #DF0101; /* red */
    }