@charset 'UTF-8';

/**********************************
*   <div> BODY
**********************************/
.container
{
    color:888;
    background: #111;
    overflow:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}

    /**********************************
    *   <div> HEADER
    **********************************/
    .top
    {
        background: #111111;
        height: 87px;
        bottom: auto;
    }

    /**********************************
    *   <div> MENU
    **********************************/
    .menu
    {
        width: 60px;
        top: 87px;
        right: auto;
    }

    /**********************************
    *   <div> PLAYLISTS
    **********************************/
    .div_playlists
    {
        left:60px;
        top: 87px;
        width:300px;
        right:auto;
    }

    /**********************************
    *   <div> TRACKS
    **********************************/
    .div_tracks
    {
        left: 360px;
        top: 87px;
        width: 50%;
        float: left;
    }