body{
    background: #eee
}
div#seekbar_container{
    width: 100%;
    background: #000;
    margin:0 auto;
}
div#music_control{
    background: #000;
    padding: 5px;
    color: #ccc;
}
input#seekbar{
    width: 60%;
}
input#volumeBar{
    width: 80px;
}

.bar{
	-webkit-appearance:none !important;
	-moz-appearance:none !important;
	appearance: none !important;
	background: #1b2021;
	border: #666 1px solid;
	height: 5px;
	outline: none;
}
.bar::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	-moz-appearance:none !important;
	appearance: none !important;
	background: #7ab800;
	height: 15px;
	width: 15px;
	border-radius: 100%;
}
.bar::-webkit-slider-thumb:hover{
	cursor: pointer;
	opacity: 0.7;
}
.bar::-moz-slider-thumb{
	-webkit-appearance:none !important;
	-moz-appearance:none !important;
	appearance: none !important;
	background: #fff;
	height: 10px;
	width: 10px;
	border-radius: 100%;
}
.bar::-moz-slider-thumb:hover{
	cursor: pointer;
	opacity: 0.7;
}
div#seekbar_time{
    display: inline-block;
    margin:auto;
    position: relative;
    font-family:'Open Sans', sans-serif;
    height: 100%;
    font-size: 0.5em;
}
div#music_controls{
    display: inline-block;
}