@charset 'UTF-8';
/************************************************************************
*   Light gray:     Medium gray:    Dark gray:      Green:
*   #616161         #303030         #181818         #81b71a
************************************************************************/



/**********************************
*   Body
**********************************/
body{
    background: #111111;
    color: #888;
}

/**********************************
*   INPUT's (see search.css)
**********************************/
::-webkit-input-placeholder{
    color: #444;
    font-weight: normal;
}

/**********************************
*   IMG's
**********************************/
.img_playlist{
    content: url('../img/playlist.png');
    width: 15px;
    height: 15px;
}
.img_track{
    content: url('../img/track.png');
    width: 15px;
    height: 15px;
}