@charset 'UTF-8';
/***********************************************************************************
*   Table header:   Table bg:               Table hover:    Background:     Green:
*   #303030         rgba(38,38,38,0.5);     #181818         #111111         #81b71a
************************************************************************************/



/**********************************
*   Body
**********************************/
body
{
    background: #111111;
    color: #888;
    margin: 0;
    margin-left: 5px;
}

/**********************************
*   IMG's
**********************************/
.img_playlist
{
    content: url('../img/playlist.png');
    width: 15px;
    height: 15px;
}
.img_track
{
    content: url('../img/track.png');
    width: 15px;
    height: 15px;
}