/**********************************
*   <table> TRACKS
**********************************/
table.tracks
{
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    background: #181818;
    border-collapse: collapse;
}

    /** HEAD */
    table.tracks thead
    {
        background: #181818;
        font-weight:bold;
        font-size: medium;
        /*display: table-header-group;*/
    }

         table.tracks thead tr
        {
            height: 1em;
        }

    /** BODY */
    table.tracks tbody
    {
        font-size: small;
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    /** Table Data */
    table.tracks th
    {
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

        /** Table Head - table data */
        table.tracks thead th
        {
            padding: 0.5em 0.5em 0.5em 0.5em;
        }

    /** Table Row */
    table.tracks tr
    {
        text-align: left;
        padding: 0em 0em 0em 0em;
        height: 4em;
        color: #888;
        background-color:rgba(38,38,38,0.5);
        opacity:0.6;
    }

        /** Table Body - tr:hover */
        table.tracks tbody tr:hover
        {
            background-color: #181818;
            color: #81b71a;
        }

    /** time icon */
    #tracks_time
    {
        content: url('../img/time.png');
        width: 15px;
        height: 15px;
    }

    #lol
    {
        width: 5em;
    }

/**********************************
*   <img> Tracks
**********************************/
.img_track
{
    content: url('../img/track.png');
    width: 15px;
    height: 15px;
}