.left_side_controls
{
    width: 125px;
    margin-right: 5px;
    float: left;
}

.right_side_controls
{
    margin-left: 5px;
    width: 102px;
    float: right;
}

/* DIV: showing current time of track */
.currentTime
{
    float: left;
    width: 40px;
    height: 26px;
    margin-left: 5px;
}

    .currentTime p
    {
        margin: 0 auto;
        font-size: small;
        color: #606060;
    }

/* DIV: showing total time of track */
.totalTime
{
    float: left;
    width: 40px;
    height: 26px;
    margin-right: 5px;
}

    .totalTime p
    {
        margin: 0 auto;
        font-size: small;
        color: #606060;
    }

.previous
{
    content: url('../img/previous.png');
    width: 26px;
    height: 26px;
    float: left;
}

.playing
{
    width: 26px;
    height: 26px;
    float: left;
    content: url('../img/pause.png');
}

.paused
{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #303030;
    border-bottom: 13px solid transparent;
    float: left;
}
    .paused:hover
    {
        border-left: 26px solid #81b71a;
    }

.next
{
    content: url('../img/next.png');
    width: 26px;
    height: 26px;
    float: left;
}

.shuffle
{
    content: url('../img/shuffle.png');
    width: 26px;
    height: 26px;
    float: left;
}

.repeat
{
    content: url('../img/repeat.png');
    width: 26px;
    height: 26px;
    float: left;
}

