/* Playlist Container */
.menu_item_playlists
{
    color: #606060;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
    /* Icon */
    .menu_item_playlists_img
    {
        content: url("../img/menu/playlists.png") no-repeat;
        margin: 0 auto;
        height: 50px;
        width: 50px;
    }

    /* Text */
    .menu_item_playlists h2
    {
        font-size: x-small;
        text-align:  center;
        margin: 0 auto;
    }

    .menu_item_playlists:hover .menu_item_playlists_img
    {
        content: url("../img/menu/playlists_hover.png") no-repeat;
        width: 50px;
        height: 50px;
    }

/* Queue Container */
.menu_item_queue
{
    color: #606060;
    widht: 100%;
    height: 60px;
    right: auto;
    margin: 0 auto;
}

    /* Icon */
    .menu_item_queue_img
    {
        content: url("../img/menu/queue.png") no-repeat;
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }
        .menu_item_queue:hover .menu_item_queue_img
        {
            content: url("../img/menu/queue_hover.png") no-repeat;
            width: 50px;
            height: 50px;
        }

    /* Text */
    .menu_item_queue h2
    {
        font-size: x-small;
        text-align: center;
        margin: 0 auto;
    }

