/**********************************
*   <table> PLAYLISTS
**********************************/
table.playlists
{
    text-align: center;
    background: #111;
    border-collapse: collapse;
    width: 100%;
    float: left;
}

    /** HEAD */
    table.playlists thead
    {
        background: #111;
        font-weight:bold;
        font-size: medium;
    }

         table.playlists thead tr
        {
            height: 1em;
        }

    /** BODY */
    table.playlists tbody
    {
        font-size: small;
    }

    /** Table Data */
    table.playlists th
    {
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

        /** Table Head - table data */
        table.playlists thead th
        {
            padding: 0.5em 0.5em 0.5em 0.5em;
            text-align: center;
        }

    /** Table Row */
    table.playlists tr
    {
        text-align: left;
        padding: 0em 0em 0em 0em;
        height: 4em;
        color: #888;
    }

        /** Table Body - tr:hover */
        table.playlists tbody tr:hover th:first-child
        {
            border-radius: 1em 0 0 1em;
            background: #181818;
            color: #81b71a;
        }

        table.playlists tbody th:nth-child(2):hover
        {
            border-radius: 0 1em 1em 0;
            background: #181818;
        }

/**********************************
*   <img> Playlists
**********************************/
.img_playlist
{
    content: url('../img/playlist.png');
    width: 15px;
    height: 15px;
}